# https://www.bryntum.com/products/scheduler/docs/#Grid/guides/npm-repository.md#repository-access
@bryntum:registry=https://npm.bryntum.com/
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoidmlrdG9yLnNhZmFyLi5nZW9kYXRhLm5vIiwiZ3JvdXBzIjpbInRyaWFsIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTcxOTgxNjg1NiwibmJmIjoxNzE5ODE2ODU2LCJleHAiOjI1ODM3MzA0NTZ9.1Te3y7GgFBniL7zEsVhBFgPp7bi5xMnJTboQzY0_8ms

legacy-peer-deps=true